/*Import Tailwind*/
@import "tailwindcss";

.login-background {
  @apply flex items-center justify-center bg-gray-50;
  width: 100%;
  height: 100vh;
}

.erro-message {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #e60000;
  color: white;
  text-decoration: solid black 1px;
  font-size: 6vw;
  font-weight: bold;
  text-align: center
}

.login-form {
  @apply flex bg-gray-200 justify-center items-center;
  padding: 5%;
  width: 75%;
  margin-inline: auto;
  border-radius: 8px;
  box-shadow:  -28px 28px 56px #c3c4c8,
             28px -28px 56px #ffffff;
  flex-direction: column;
  gap: 15px;
}

.aplication-select {
  @apply bg-gray-50;
  width: 95%;
  padding: 3%;
  border-radius: 6px;
  border-bottom: 2px solid #333;
}

.application-SelectionLabel {
  width: 90%;
  font-size: 12px;
  font-weight: bold;
}

#select_aplication {
  all: unset; /* Reseta quase tudo */
  appearance: none;           /* Remove seta nativa (padrão em Chrome/Safari) */
  -webkit-appearance: none;   /* Para Safari */
  -moz-appearance: none;      /* Para Firefox */

  width: 90%;
  justify-self: left;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  font-size: 14px;
  background-color: transparent;
  color: #000;
  z-index: 1;
}

input[type="text"], input[type="password"] {
  border: none;
  all: unset; /* Reseta quase tudo */
  appearance: none;           /* Remove seta nativa (padrão em Chrome/Safari) */
  -webkit-appearance: none;   /* Para Safari */
  -moz-appearance: none;      /* Para Firefox */

  width: 98%;
  font-size: 14px;
  background: transparent;
}

input::placeholder {
  color: #999;
}

.select-arrow {
  pointer-events: none;
  color: #555;
  font-size: 5vw;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

button {
  background-color: #e60000;
  color: white;
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 98%;
  font-weight: bold;
}

button:hover {
  background-color: #cc0000;
}

.erro-message {
  font-size: 3vw;
}

/*Tablet*/
@media (min-width: 768px) {
  input[type="text"], button, #select_aplication, .application-SelectionLabel, .checkbox-container {
    font-size: 3.2vw;
  }
  .erro-message {
    font-size: 2vw;
  }
}

/*Computadores*/
@media (min-width: 1024px) {
  .login-form {
    width: 40%;
  }
  .application-SelectionLabel, .checkbox-container {
    font-size: 0.6vw;
  }
  input[type="text"], input[type="password"], button, #select_aplication {
    font-size: 1vw;
  }
  #select_aplication, input[type="text"], input[type="password"],  #user-id {
    margin-top: 2%;
  }
  .select-arrow {
    font-size: 1.4vw;
    float: right;
  }
  .erro-message {
    font-size: 1.2vw;
  }
}